@import 'variables';

.content-margin {
    margin: 1rem;
}
.input-margin {
    margin: 1rem 0rem 0.5rem 0;
    max-width: 100%;
}
.uq-purple {
    background-color: $top-nav-bg;
}
.section {
    overflow: auto;
}
.title-padding {
    margin-top: 1.5rem;
    padding-left: 0.2rem;
    padding-bottom: 0.15rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.2)
}
.thin-underline {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.2)
}
.Free-bg {
    background-color: $free-status-bg
}
.Busy-bg {
    background-color: $busy-status-bg
}
.Unavailable-bg {
    background-color: $unavaliable-status-bg
}
.Finished-bg {
    background-color: $finished-status-bg
}
.Starting-bg {
    background-color: $starting-status-bg
}
.Unknown-bg {
    background-color: $unkown-status-bg
}
.add-friend-bg {
    background-color: $add-friend-bg;
}
.floated {
    display: inline-block;
    margin-right: 5px;
}
.info-box-friends {

}
.info-box-pending {

}
.friend-search {
    text-align: center;
    margin: 1rem auto;
}
.friend-search-input {
    width: 15rem;
}
.friend-info-card {
    margin-top: 0.75rem;
    padding: 0.25rem;
    border-radius: 2px;
    box-shadow: $box-shadow;
    display: block;
}
.friend-info-card:last-child {
    margin-bottom: 0.75rem;
}
.friend-info-name-text {
    font-size: 1.5rem;
    font-weight: 300;
    color: $whosfree-text;
    line-height: normal;
}
.friend-status-text {
    font-size: 1.5rem;
    font-weight: 300;
    color: $whosfree-text
}
.friend-status-info-text {
    font-weight: 300;
    color: $whosfree-text-light;
}

.content p:not(:last-child) {
    margin-bottom: 0;
}
.media-right {
    margin-left: auto;
    padding-right: 0.5rem;
    text-align: right;
    max-width: 30%;
}
.add-friend-card .media-right {
    max-width: 50%;
    margin-right: 0.5rem;
}
.media-left {
    max-width: 50%;
}
.media-content {
    max-width: 40%;
}
.add-friend-card .media-content {
    max-width: 30%;
    font-size: 1rem;
}
.justify-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.event-card-day {
    max-width: 40rem;
    margin: 0 auto;
}
.event-summary-text {
    font-size: 1.5rem;
    font-weight: 300;
}
.event-time-text {

}
.event-location-text {
    color: $event-location-text;
}
.event-time-wrapper {
    float: right;
}
.event-info-card {
    margin: 0 auto;
    max-width: 30rem;
    margin-top: 0.75rem;
    padding: 0.75rem 0.5rem;
    border-radius: 2px;
    box-shadow: $box-shadow;
    display: block;
    color: $event-text;
}

.event-info-card:nth-child(even) {
    background-color: $timetable-event-even-row
}
.event-info-card:nth-child(odd) {
    background-color: $timetable-event-odd-row
}
.event-info-card:last-child {
    margin-bottom: 2rem;
}
.piece-card {
    margin: 0 auto;
    max-width: 50rem;
    margin-top: 0.75rem;
    padding: 0.75rem 0.5rem;
    border-radius: 2px;
    box-shadow: $box-shadow;
    display: block;
    color: $whatsdue-text;
}
.piece-card:nth-child(even) {
    background-color: $whatsdue-even-row
}
.piece-card:nth-child(odd) {
    background-color: $whatsdue-odd-row
}
.mobile-tab {
    font-size: 2.2rem;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-left-width: 0px;
    border-color: $tab-borders;
    cursor: pointer;
}
.desktop-cal-img {
    padding: 1rem 0.5rem 0rem 0;
}
.mobile-cal-img {
    width: 50%;
    padding: 1rem 0.5rem 0rem 0;
}
.mobile-cal-img-two {
    width: 50%;
    padding: 1rem 0 0rem 0.5rem;
}
.is-active-mobile {
    background-color: $tab-icon-highlight;
}
.mobile-tab:hover {
    background-color: $tab-icon-highlight;
}
.mobile-tab a i {
    color: $tab-icon-normal;
}
.is-active-mobile a i {
    color: #fff;
}
.mobile-tab:hover a i {
    color: #fff;
}
.glue-to-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.profile-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 1rem 0.5rem;
    font-size: 2rem;
}

.profile-head-text {
}

.dp {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    -ms-flex-line-pack: center;
        align-content: center;
    display: block;
}
.box {
    padding: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}
.profile-body {
    border-radius: 5px;
}

.profile-row {
    padding: 30px;
    font-size: 1.3em;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.profile-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.profile-button {
    margin: 0.5rem 0.25rem;
    width: 10rem
}

.profile-logout-button {
    margin: 0rem auto 0.5rem auto;
    display: block;
    max-width: 10rem;
    padding-top: 0.35rem;
}
.profile-settings-info {
    margin: 0rem 0.5rem;
    color: $profile-settings-text;
}
.profile-logout-button.is-primary {
   background-color: $logout-button;
}
.profile-button.is-danger {
    background-color: $drop-cal-button;
}
.profile-button.is-info {
    background-color: $refresh-button;
}
a.profile-button {

}
.switch {
margin: -0.2rem 0rem 0rem 1rem; 
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $incognito-slider-bg;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $incognito-slider-on
}


input:focus + .slider {
  box-shadow: 0 0 1px $incognito-slider-on;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.odd-row {
    background-color: $profile-odd-row;
}

.even-row {
    background-color: $profile-even-row;
}

.sk-folding-cube .sk-cube:before {
  background-color: $loading-spinner;
}

.button.is-info,
.tag.is-info {
    background-color: $info-color;
}

.button.is-info:active,
.button.is-info:hover,
.button.is-info:focus {
    background-color: $info-color-dark;
}
.button.is-danger:active,
.button.is-danger:hover,
.button.is-danger:focus {
    background-color: $danger-color-dark;
}
.button.is-success:active,
.button.is-success:hover,
.button.is-success:focus {
    background-color: $success-color-dark;
}
.button.is-danger,
.tag.is-danger {
    background-color: $danger-color;
}
.button.is-success,
.tag.is-success {
    background-color: $success-color;
}
@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
    }   
    .section {
        width: 100%;
        position: fixed;
        top: 50px; /* hard coded to height of syncuq logo nav */
        bottom: 49px /* 49px == height of bottom mobile nav*/
    }
    .mobile-tab {
        font-size: 1.8rem;
    }
    .section {
        padding: 0px;
    }
}

@media screen and (min-width: 768px) {
    
}

.crop-height {
  /* max-width: 1200px; /* native or declared width of img src (if known) */
	max-height: 400px;
	overflow: hidden; }

img.scale {
  /* corrects small inline gap at bottom of containing div */
	display: block; 
  width: 100%; /* corrects obscure Firefox bug */
	max-width: 100%;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
  display: block; /* corrects small inline gap at bottom of containing div */
  width: 100%; /* corrects obscure Firefox bug */
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  /*width: auto\9; 
  /* ie8+9 - use modernizr instead of this \9 hack */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic;
	/* optionally force a minimum size if img src size is known: */
	/* min-height: 320px; /* max-height of .crop-height */
	/* min-width: 480px; /* proportional to above */ }