$primary-uq: #7B1FA2;
$secondary-uq: #9C27B0;


$base-bright: 77;
$saturation: 100;
$rot-alt-uq: 260;
$rot-uq: 270;
$rot-purple: 235;
$rot-blue: 230;
$rot-green: 100;
$rot-red: 0;

$light-uq: hsl($rot-uq,$saturation,$base-bright + 10);
$med-light-uq: hsl($rot-uq,$saturation,$base-bright + 5);
$med-uq: hsl($rot-uq,$saturation,$base-bright);
$dark-uq: hsl($rot-uq,$saturation,$base-bright - 5);

$light-alt-uq: hsl($rot-alt-uq,$saturation,$base-bright + 15);
$med-light-alt-uq: hsl($rot-alt-uq,$saturation,$base-bright + 10);
$med-alt-uq: hsl($rot-alt-uq,$saturation,$base-bright);
$dark-alt-uq: hsl($rot-alt-uq,$saturation,$base-bright - 5);

$light-purple: hsl($rot-purple,$saturation,$base-bright + 10);
$med-light-purple: hsl($rot-purple,$saturation,$base-bright + 5);
$med-purple: hsl($rot-purple,$saturation,$base-bright);
$dark-purple: hsl($rot-purple,$saturation,$base-bright - 5);

$light-blue: hsl($rot-blue,$saturation,$base-bright + 10);
$med-light-blue: hsl($rot-blue,$saturation,$base-bright + 5);
$med-blue: hsl($rot-blue,$saturation,$base-bright);
$dark-blue: hsl($rot-blue,$saturation,$base-bright - 5);

$light-red: hsl($rot-red,$saturation,$base-bright + 10);
$med-light-red: hsl($rot-red,$saturation,$base-bright + 5);
$med-red: hsl($rot-red,$saturation,$base-bright);
$dark-red: hsl($rot-red,$saturation,$base-bright - 5);

$light-green: hsl($rot-green,$saturation,$base-bright + 10);
$med-light-green: hsl($rot-green,$saturation,$base-bright + 5);
$med-green: hsl($rot-green,$saturation,$base-bright);
$dark-green: hsl($rot-green,$saturation,$base-bright - 5);

/*GENERAL*/
$head-font: "Lato", sans-serif;
$head-color: #fff;
$subtitle-color: #999;
$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

/*MOBILE TABS */
$top-nav-bg: $dark-uq;
$tab-borders: rgba(163,80,189,0.2);
$tab-icon-normal: $dark-alt-uq;
$tab-icon-highlight: $dark-alt-uq;
$tab-icon-active: #fff;
$loading-spinner: $med-uq;

/*TIMETABLE*/
$event-text: #fff;
$event-location-text: rgba(255,255,255,0.7);
$timetable-event-even-row: $med-purple;
$timetable-event-odd-row: $dark-purple;

/*ADD FRIENDS*/
$add-friend-bg: $light-purple;
$info-color: $med-blue;
$danger-color: $med-red;
$success-color: $med-green;
$info-color-dark: $dark-blue;
$danger-color-dark: $dark-red;
$success-color-dark: $dark-green;

/*WHOS FREE*/
$whosfree-text: rgba(0,0,0,0.8);
$whosfree-text-light: rgba(0,0,0,0.5);
$free-status-bg: $light-green;
$busy-status-bg: $light-blue;
$unavaliable-status-bg: $light-red;
$finished-status-bg: $light-blue;
$starting-status-bg: $light-blue;
$unkown-status-bg: $light-red; 

/*WHATS DUE*/
$whatsdue-text: #fff;
$whatsdue-even-row: $med-blue;
$whatsdue-odd-row: $dark-blue;

/*PROFILE*/
$profile-settings-text: #fff;
$profile-odd-row: $med-light-alt-uq;
$profile-even-row: $light-alt-uq;
$incognito-slider-bg: #ddd;
$incognito-slider-on: $dark-uq;
$logout-button: $dark-uq;
$drop-cal-button: $dark-red;
$refresh-button: $dark-blue;