$primary-uq: #7B1FA2;
$secondary-uq: #9C27B0;

/* Brightness, saturation, and contrast of all colors */
$base-bright: 75;
$saturation: 75;
$contrast: 6;

/* Base Hue Rotation. 0 is red */
$rot-alt-uq: 260;
$rot-uq: 270; 
$rot-purple: 235;
$rot-blue: 225;
$rot-green: 100;
$rot-red: 0;

$light-uq: hsl($rot-uq,$saturation,$base-bright + $contrast*2);
$med-light-uq: hsl($rot-uq,$saturation,$base-bright + $contrast);
$med-uq: hsl($rot-uq,$saturation,$base-bright);
$dark-uq: hsl($rot-uq,$saturation,$base-bright - $contrast);
$very-dark-uq: hsl($rot-uq,$saturation - 40, $base-bright - $contrast*6);

$very-light-alt-uq: hsl($rot-alt-uq,$saturation,$base-bright + $contrast*2.5);
$light-alt-uq: hsl($rot-alt-uq,$saturation,$base-bright + $contrast*2);
$med-light-alt-uq: hsl($rot-alt-uq,$saturation,$base-bright + $contrast);
$med-alt-uq: hsl($rot-alt-uq,$saturation,$base-bright);
$dark-alt-uq: hsl($rot-alt-uq,$saturation,$base-bright - $contrast);
$very-dark-alt-uq: hsl($rot-alt-uq,$saturation,$base-bright - $contrast*2);

$light-purple: hsl($rot-purple,$saturation,$base-bright + $contrast*2);
$med-light-purple: hsl($rot-purple,$saturation,$base-bright + $contrast);
$med-purple: hsl($rot-purple,$saturation,$base-bright);
$dark-purple: hsl($rot-purple,$saturation,$base-bright - $contrast);

$light-blue: hsl($rot-blue,$saturation,$base-bright + $contrast*2);
$med-light-blue: hsl($rot-blue,$saturation,$base-bright + $contrast);
$med-blue: hsl($rot-blue,$saturation,$base-bright);
$dark-blue: hsl($rot-blue,$saturation,$base-bright - $contrast);

$light-red: hsl($rot-red,$saturation,$base-bright + $contrast*2);
$med-light-red: hsl($rot-red,$saturation,$base-bright + $contrast);
$med-red: hsl($rot-red,$saturation,$base-bright);
$dark-red: hsl($rot-red,$saturation,$base-bright - $contrast);

$light-green: hsl($rot-green,$saturation,$base-bright + $contrast*2);
$med-light-green: hsl($rot-green,$saturation,$base-bright + $contrast);
$med-green: hsl($rot-green,$saturation,$base-bright);
$dark-green: hsl($rot-green,$saturation,$base-bright - $contrast);
$very-dark-green: hsl($rot-green,$saturation,$base-bright - $contrast*4);

/*GENERAL*/
$head-font: "Lato", sans-serif;
$head-color: #fff;
$subtitle-color: #999;
$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

/*LANDING*/
$landing-nav-bg: $dark-uq;
$hero-bg: rgba($very-dark-uq, 0.8);
$hero-text: #fff;
$hero-subtext: #ddd;
$login-button: $dark-blue;
$notification-bg: $very-dark-uq;
$notification-title: #fff;
$notification-subtitle: #eee;

/*MOBILE TABS */
$top-nav-bg: $dark-uq;
$tab-borders: rgba(163,80,189,0.2);
$tab-icon-normal: $dark-alt-uq;
$tab-icon-highlight: $dark-alt-uq;
$tab-icon-active: #fff;
$loading-spinner: $med-uq;

/*TIMETABLE*/
$event-text: #fff;
$event-location-text: rgba(255,255,255,0.7);
$timetable-event-even-row: $med-purple;
$timetable-event-odd-row: $dark-purple;

/*ADD FRIENDS*/
$add-friend-bg: $light-purple;
$info-color: $med-blue;
$danger-color: $med-red;
$success-color: $dark-green;
$info-color-dark: $dark-blue;
$danger-color-dark: $dark-red;
$success-color-dark: $very-dark-green;

/*WHOS FREE*/
$whosfree-text: rgba(0,0,0,0.8);
$whosfree-text-light: rgba(0,0,0,0.5);
$free-status-bg: $light-green;
$busy-status-bg: $light-blue;
$unavaliable-status-bg: $light-red;
$finished-status-bg: $light-blue;
$starting-status-bg: $light-blue;
$unkown-status-bg: $light-red; 

/*WHATS DUE*/
$whatsdue-text: #fff;
$whatsdue-even-row: $med-blue;
$whatsdue-odd-row: $dark-blue;

/*PROFILE*/
$profile-settings-text: #fff;
$profile-odd-row: $med-light-alt-uq;
$profile-even-row: $very-light-alt-uq;
$incognito-slider-bg: #ddd;
$incognito-slider-on: $dark-alt-uq;
$logout-button: $dark-uq;
$drop-cal-button: $dark-red;
$refresh-button: $dark-blue;