$primary-uq: #7B1FA2;
$secondary-uq: #9C27B0;

$head-font: "Lato", sans-serif;
$head-color: #fff;
$subtitle-color: #999;

$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

/*PROFILE*/
$profile-settings-text: #fff;
$profile-odd-row: #CE93D8;
$profile-even-row: #E1BEE7;
$incognito-slider-bg: #ccc;
$incognito-slider-on: #6D2185;
/*TIMETABLE*/
$event-text: #fff;
$event-location-text: rgba(255,255,255,0.7);
$timetable-event-even-row: #7E57C2;
$timetable-event-odd-row: #5E35B1;

/*MOBILE TABS */
$tab-borders: rgba(163,80,189,0.2);
$tab-icon-normal: #49075e;
$tab-icon-highlight: #49075e;
$tab-icon-active: #fff;

/*WHATS DUE*/
$whatsdue-text: #fff;
$whatsdue-even-row: #1E88E5;
$whatsdue-odd-row: #1565C0;

/*WHOS FREE*/
$whosfree-text: rgba(0,0,0,0.8);
$whosfree-text-light: rgba(0,0,0,0.5);
$free-status-bg: #C5E1A5;
$busy-status-bg: #81D4FA;
$unavaliable-status-bg: #F48FB1;
$finished-status-bg: #81D4FA;
$starting-status-bg: #81D4FA;
$unkown-status-bg: #F48FB1; 

/*ADD FRIENDS*/
$add-friend-bg: #81D4FA;