.uq-purple {
    background-color: #A350BD
}
.is-active-mobile {
    background-color: #A350BD;
}
.section {
    overflow: auto;
}
.Free-bg {
    background-color: #F9FEB7;
}
.Busy-bg {
    background-color: #A8E3E8;
}
.Unavailable-bg {
    background-color: #FFD9B8;
}
.friend-info-card {
    margin-top: 0.75rem;
    padding: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: block;
}
.friend-info-name-text {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 300;

}
.friend-status-text {
    font-size: 1.5rem;
}
.friend-status-info-text {
    font-weight: 300;
}
.thin-hr {
    margin: 0.1rem 0;
    background-color: rgba(0,0,0,0.2)
}
.content p:not(:last-child) {
    margin-bottom: 0;
}
.media-right {
    padding-right: 1rem;
}
.mobile-tab {
    font-size: 2.2rem;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-left-width: 0px;
    border-color: rgba(163,80,189,0.2);
    cursor: pointer;
}
.mobile-tab:hover {
    background-color: #6C0B8B;
}
.mobile-tab a i {
    color: #6C0B8B;
}
.is-active-mobile a i {
    color: #fff;
}
.mobile-tab:hover a i {
    color: #fff;
}
.glue-to-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.profile-head {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    font-size: 2rem;
}

.profile-head-text {
    line-height: 50px;
}

.dp {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.box {
    padding: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}
.profile-body {
    border-radius: 5px;
}

.profile-row {
    padding: 30px;
    font-size: 1.3em;
}

.odd-row {
    background-color: #d089e5;
}

.even-row {
    background-color: #f2d1fc;
}

@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
    }   
    .section {
        width: 100%;
        position: fixed;
        top: 50px; /* hard coded to height of syncuq logo nav */
        bottom: 49px /* 49px == height of bottom mobile nav*/
    }
    .mobile-tab {
        font-size: 1.8rem;
    }
    .section {
        padding: 0px;
    }
}