#index-main {
}

strong {
    font-family: "Lato", sans-serif;
    font-weight: 800;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: "Lato"
}

.content-margin {
    margin: 1rem;
}
.input-margin {
    margin: 1rem 0rem 0.5rem 0;
    max-width: 100%;
}
.uq-purple {
    background-color: #6D2185
}
.section {
    overflow: auto;
}
.title-padding {
    margin-top: 1.5rem;
    padding-left: 0.2rem;
    padding-bottom: 0.15rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.2)
}
.thin-underline {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.2)
}
.Free-bg {
    background-color: #DDFAB4;
}
.Busy-bg {
    background-color: #A8E3E8;
}
.Unavailable-bg {
    background-color: #F8B3C9;
}
.Finished-bg {
    background-color: #A8E3E8;
}
.Starting-bg {
    background-color: #A8E3E8;
}
.Unknown-bg {
    background-color: #F8B3C9; 
}

.friend-info-card {
    margin-top: 0.75rem;
    padding: 0.25rem;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: block;
}
.friend-info-card:last-child {
    margin-bottom: 0.75rem;
}
.friend-info-name-text {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgba(0,0,0,0.8);
    line-height: normal;
}
.friend-status-text {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgba(0,0,0,0.8)
}
.friend-status-info-text {
    font-weight: 300;
    color: rgba(0,0,0,0.5)
}

.content p:not(:last-child) {
    margin-bottom: 0;
}
.media-right {
    padding-right: 1rem;
    text-align: right;
}
.justify-between {
    justify-content: space-between;
    align-items: center;
}
.align-center {
    align-items: center;
}
.event-card-day {
    max-width: 40rem;
    margin: 0 auto;
}
.event-summary-text {
    font-size: 1.5rem;
    font-weight: 300;
}
.event-time-text {

}
.event-location-text {
    color: rgba(255,255,255,0.7)
}
.event-time-wrapper {
    float: right;
}
.event-info-card {
    margin: 0 auto;
    max-width: 30rem;
    margin-top: 0.75rem;
    padding: 0.75rem 0.5rem;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: block;
    color: #fff
}
.event-info-card:nth-child(even) {
    background-color: #4B0A60
}
.event-info-card:nth-child(odd) {
    background-color: #702289
}
.event-info-card:last-child {
    margin-bottom: 2rem;
}
.mobile-tab {
    font-size: 2.2rem;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-left-width: 0px;
    border-color: rgba(163,80,189,0.2);
    cursor: pointer;
}
.desktop-cal-img {
    padding: 1rem 0.5rem 0rem 0;
}
.mobile-cal-img {
    width: 50%;
    padding: 1rem 0.5rem 0rem 0;
}
.mobile-cal-img-two {
    width: 50%;
    padding: 1rem 0 0rem 0.5rem;
}
.is-active-mobile {
    background-color: #49075e;
}
.mobile-tab:hover {
    background-color: #49075e;
}
.mobile-tab a i {
    color: #49075e;
}
.is-active-mobile a i {
    color: #fff;
}
.mobile-tab:hover a i {
    color: #fff;
}
.glue-to-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.profile-head {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    font-size: 2rem;
}

.profile-head-text {
    line-height: 50px;
}

.dp {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    align-content: center;
    display: block;
}
.box {
    padding: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}
.profile-body {
    border-radius: 5px;
}

.profile-row {
    padding: 30px;
    font-size: 1.3em;
}

.odd-row {
    background-color: #d089e5;
}

.even-row {
    background-color: #f2d1fc;
}

@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
    }   
    .section {
        width: 100%;
        position: fixed;
        top: 50px; /* hard coded to height of syncuq logo nav */
        bottom: 49px /* 49px == height of bottom mobile nav*/
    }
    .mobile-tab {
        font-size: 1.8rem;
    }
    .section {
        padding: 0px;
    }
}

.crop-height {
  /* max-width: 1200px; /* native or declared width of img src (if known) */
	max-height: 400px;
	overflow: hidden; }

img.scale {
  /* corrects small inline gap at bottom of containing div */
	display: block; 
  width: 100%; /* corrects obscure Firefox bug */
	max-width: 100%;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
  display: block; /* corrects small inline gap at bottom of containing div */
  width: 100% /* corrects obscure Firefox bug */
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  /*width: auto\9; 
  /* ie8+9 - use modernizr instead of this \9 hack */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic;
	/* optionally force a minimum size if img src size is known: */
	/* min-height: 320px; /* max-height of .crop-height */
	/* min-width: 480px; /* proportional to above */ }

a.nav-item {
    font-size: 1.8rem;
    color: #fff;
    font-family: "Lato";
}

a.nav-item:hover {
    color: #290038;
}

.hero::before {
    background-image: 
}

.hero {
    background: linear-gradient(
        rgba(41, 0, 56, 0.9),
        rgba(41, 0, 56, 0.9)),
        url("images/uq-promo.jpg");
    background-size: cover;
}

.hero-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.hero-text h1 {
    color: #ccc;
    font-family: "Lato";
    font-weight: 800;
}

.hero-text h2 {
    color: #999;
    font-family: "Lato";
}

.hero-butt {
    color: #fff;
    background-color: #3B5998;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}

.hero-butt:hover {
    background-color: #1B3978;
    color: #999;
}

.fa {
    font-size: 3.2rem;
    width: 100%;
}

.content h1 {
    font-size: 3rem;
}

.notification h1 {
    color: #fff;
    font-size: 1.8rem;
}

.notification p {
    color: #999
}

.content {
    margin-top: 50px;
    padding-bottom: 50px;
}

.front-page-cols {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.column {
    display: flex;
}

.content-section {
    background-color: #eee;
    padding: 50px 0px;
}

.flex-cont {
    display: flex;
}

.side-image {
    flex:1;
    flex-grow: 3;
}

.side-image-left img{
    border-radius: 0 7px 7px 0;
}

.side-image-right img{
    border-radius: 7px;
}

.side-text {
    flex:1;
    flex-grow: 2;
    padding: 50px 10%;
}