<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <style>
        .row-margin-top {
            margin-top: 20px;
        }
    </style>
    <link rel="stylesheet" href="static/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <script src="{{url_for('static', filename='fb_sdk.js')}}"></script>
    <script src="{{url_for('static', filename='fb_login.js')}}"></script>
    <nav class="nav has-shadow uq-purple">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item" src="static/index.html">
                    <img src="static/images/sync_uq_logo.png">
                </a>
            </div>
            <div class="nav-center">
            </div>
        </div>
    </nav>
    <div class="container login-container">
        <div class="login-box">
            <h2>Welcome to SyncUQ</h2>
            <a href="app" class="butt-link">
                <button class="hero-butt button is-large" onClick="checkFBlogin()">
                    Log In With Facebook
                </button>
            </a>
            <p>We'll never post anything to your wall.</p>
        </div>

    </div>
</body>
