<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <style>
        .row-margin-top {
            margin-top: 20px;
        }
    </style>
    <link rel="stylesheet" href="static/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- Meta Info -->
    <title>SyncUQ - Login</title>
    <meta name="description" content="A UQ exclusive schedule sharing app. Check your friends availability, track your assessment, and sync your uni breaks."
    />
    <meta property="og:title" content="SyncUQ" />
    <meta property="og:description" content="A UQ exclusive schedule sharing app. Check your friends availability, track your assessment, and sync your uni breaks."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://syncuq.com" />
    <meta property="og:image" content="http://www.syncuq.com/static/favicon/android-chrome-256x256.png" />
    <!-- End of Meta Info -->
    <!-- Favicon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#d35bd5">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- End of favicon stuff -->
</head>
<body id="login-body">
    <script src="{{url_for('static', filename='fb_sdk.js')}}"></script>
    <script src="{{url_for('static', filename='fb_login.js')}}"></script>
    <nav class="nav has-shadow uq-purple">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item" href="static/index.html">
                    <img src="static/images/sync_uq_logo.png">
                </a>
            </div>
            <div class="nav-center">
            </div>
        </div>
    </nav>
    <div class="container login-container">
        <div class="login-box">
            <h2>Welcome to SyncUQ</h2>
            <button class="hero-butt button is-large" onClick="checkFBlogin()">
                Log In With Facebook
            </button>
            <p>We'll never post anything to your wall.</p>
        </div>

    </div>
</body>
